<button class="previous-btn ui circular icon button" [ngClass]="_color" (click)="clickPagination('previous')">
  <i class="big arrow left icon"></i>
</button>
<button class="next-btn ui circular icon button" [ngClass]="_color" (click)="clickPagination('next')">
  <i class="big arrow right icon"></i>
</button>
<app-header [searchBox]="false"></app-header>
<div class="ui container centered cards one column" *ngIf="record">
    <div class="card" [ngClass]="_color">
      <div class="image" style="height: 500px; overflow: hidden;">
        <div *ngIf="!(imageLoaded$ | async)" style="height: 500px;">
          <div class="ui active dimmer">
            <div class="ui massive text loader">Loading...</div>
          </div>
        </div>
        
        <ng-container *ngIf="record[0]?.media_type === 'image'; else videoTemplate">
          <img 
            (load)="onImageLoad()"
            [alt]="record[0]?.title" 
            [src]="record[0]?.hdurl"
            style="height: 100%; width: 100%; object-fit: fill; display: block;"
            [style.display]="(imageLoaded$ | async) ? 'block' : 'none'"
          >
        </ng-container>
        
        <ng-template #videoTemplate>
          <iframe 
            [src]="sanitizeVideoURL(record[0]?.url)" 
            style="width: 100%; height: 100%;"
          ></iframe>
        </ng-template>
      </div>
        
      <div class="content">
        <div class="header">{{ record[0].title }}</div>
        <div class="meta">
          <i>{{ record[0].credit }}</i>
        </div>
        <div class="description">
          {{ record[0].explanation }}
          <br />
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          {{ record[0].date }}
        </span>
        <div *ngIf="record[0].media_type === 'image'">
          <button *ngIf="!(isLiked$ | async)" class="mini ui icon circular button" (click)="likeImage(record[0].date)">
            <i class="large heart outline icon"></i>
          </button>
          <button *ngIf="isLiked$ | async" class="mini ui icon circular button red" (click)="unLikeImage(record[0].date)">
            <i class="large heart outline icon"></i>
          </button>
          <button class="mini ui icon circular button">
            <i class="large link arrow alternate circle down outline icon" [ngClass]="_color"
            (click)="downloadMyFile(record[0].hdurl)"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  