<div class="ui cards">

    <div class="card" style="width:450px;">
        <div class="image">
            <img style="height: 250px;" alt="{{title}}" [src]="url" *ngIf="media_type === 'image'">
            <iframe style="width: 100%; height: 250px;" [src]="sanitizeVideoURL(url)"
                *ngIf="media_type === 'video'"></iframe>
        </div>
        <div class="content">
            <div class="header"><a routerLink="fr" [queryParams]="{date: date}" target="_self">{{ title }}</a></div>
            <div class="meta">
                <i>{{ credit }}</i>
            </div>
            <div class="description">
                {{ add3Dots(explanation, 250) }}
                <br />
                <a [href]="hdurl">Click to view full image</a>
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                {{ date }}
            </span>
            <span>
                <i class=""></i>
                {{ media_type | titlecase }}
            </span>
            <button class="mini ui icon circular button red">
                <i class="large heart outline icon"></i>
            </button>
            <button class="mini ui icon circular button">
                <i class="large heart outline icon"></i>
            </button>
        </div>
    </div>

</div>