<div class="ui links cards">

    <div class="card" style="width:450px;">
        <div class="image">
            <img alt="{{title}}" [src]="url" *ngIf="media_type === 'image'">
            <iframe style="width: 100%; height: 100%;" [src]="sanitizeVideoURL(url)"
                *ngIf="media_type === 'video'"></iframe>
        </div>
        <div class="content">
            <div class="header">{{ title }}</div>
            <div class="meta">
                <a>{{ credit }}</a>
            </div>
            <div class="description">
                {{ add3Dots(explanation, 250) }}
                <br />
                <a [href]="hdurl">Click here to view image</a>
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                {{ date }}
            </span>
            <span>
                <i class=""></i>
                {{ media_type | titlecase }}
            </span>
        </div>
    </div>

</div>