.card {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.card:hover {
    transform: scale(1.015) translateZ(0);
    box-shadow: 0px 0px 20px 5px rgba(128, 0, 255, 0.2); 
}
